<div ng-controller="TeamPageCtrl" style="text-align: center;">

<div class="panel panel-default">
	<div class="panel-heading">
			<img ng-src="{{teamInfo.img}}" src="" onError="this.onerror=null;this.src='img/default/team.jpg';" style="height:155px;"/>
			<h2 >{{teamInfo.name}}</h2>
	</div>
</div>
	<div>
	Últimos Resultados
	<br>
		<span class="label label-success">V</span>
		<span class="label label-warning">E</span>
		<span class="label label-success">V</span>
		<span class="label label-success">V</span>
		<span class="label label-danger">D</span>
	</div>
	<br>
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
				<h4 class="panel-title">
					Equipa Técnica
					<span class="glyphicon glyphicon-arrow-down" style="float:right"></span>
	
				</h4>
	
			</div>
			<div id="collapseOne" class="panel-collapse collapse">
				<div class="panel-body">
	
					<div class="row">
						<div ng-repeat="s in staff" >
							<div class="col-xs-4 col-sm-4 col-md-2">
								<div class="thumbnail">
									<a href="#/teamStats/profile/{{s.id}}">
										<img ng-src="{{s.img}}" id="{{s.id}}" src="" onError="this.onerror=null;this.src='img/default/player.png';" style="height:155px;">
										<h3>  {{s.firstname}} {{s.lastname}}</h3>
									</a>
									</div>
								</div>
							</div>
					</div>
	
				</div>
			</div>
		</div>
		<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
			<h4 class="panel-title">
				Jogadores
				<span class="glyphicon glyphicon-arrow-down" style="float:right"></span>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">
					<div ng-repeat="p in players" >
						<div class="col-xs-4 col-sm-4 col-md-2">
							<div class="thumbnail">
								<a href="#/teamStats/player/{{p.id}}">
									<img ng-src="{{p.img}}" id="{{p.id}}" src="" onError="this.onerror=null;this.src='img/default/player.png';" style="height:155px;">
									<h3> {{p.name}}</h3>
								</a>
							</div>
						</div>
					</div>

				
				<div>
				<div class="col-lg-1 col-md-1">
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddPlayerModal">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>

					<div id="AddPlayerModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm">
						<div class="modal-content" ng-controller="AddPlayer">
							<form novalidate class="simple-form"><br>
								Nome do Jogador
								<input type="text" class="form-control" id="name" placeholder="Nome" ng-model="player.name" required><br>
								Data de Nascimento
								<input type="date" class="form-control" id="birth" placeholder="Data de Nascimento" ng-model="player.birth"><br>
								Número de telefone
								<input type="text" class="form-control" id="phone" placeholder="Telefone" ng-model="player.phone"><br>
								<button class="btn btn-primary" ng-click="addPlayer()">Adicionar Jogador</button>
								<br>
								<br>
							</form>
						</div>
					</div>
					</div>

				</div>
			</div>
		</div>
		</div>
		
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
			<h4 class="panel-title">
				Jogos
				<span class="glyphicon glyphicon-arrow-down" style="float:right"></span>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-4 col-md-4">
						<div class="caption">
							<h4 class="panel-title" style="text-align: center">
							Real Madrid
								<span class="label label-success">3 - 1</span>
							SL Benfica
							</h4>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="caption">
							<h4 class="panel-title" style="text-align: center" style="text-align: center">
							Barcelona FC
								<span class="label label-warning">2 - 2</span>
							Real Madrid
							</h4>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="caption">
							<h4 class="panel-title" style="text-align: center">
							Real Madrid
								<span class="label label-success">2 - 0</span>
							Malaga FC
							</h4>
						</div>
					</div>
					<br><br>
					<div class="col-sm-4 col-md-4">
						<div class="caption">
							<h4 class="panel-title" style="text-align: center">
							Atlético Bilbao
								<span class="label label-success">0 - 4</span>
							Real Madrid
							</h4>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="caption">
							<h4 class="panel-title" style="text-align: center" style="text-align: center">
							FC Porto
								<span class="label label-danger">3 - 2</span>
							Real Madrid
							</h4>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="caption">
							<h4 class="panel-title" style="text-align: center">
							Real Madrid
								<span class="label label-success">1 - 0</span>
							Villareal FC
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div>
		<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#LeaveTeam">
			Deixar Equipa
		</button>
	</div>
	
	<div class="modal fade" id="LeaveTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="LeaveTeam">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" >Tem a certeza que quer deixar a Equipa?</h4>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" ng-click="leaveTeam()">Sim</button>
					<button type="button" class="btn btn-info" data-dismiss="modal">Não</button>
				</div>
			</div>
		</div>
	</div>
</div>