<link rel="stylesheet" type="text/css" media="screen" href="css/angular.rangeSlider.css">

<div class="panel-group" id="accordion">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="input-group">
                <input ng-model="searchPlayer" type="text" class="form-control"/>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" disabled="true">
							<span class="glyphicon glyphicon-search">
							</span>
                        </button>
					</span>
            </div>
        </div>

        <br>

        <div class="col-lg-10 col-lg-offset-1" ng-controller="SlidersCtrl">
            <div range-slider="range-slider"
                 min="sliderConfig.min"
                 max="sliderConfig.max"
                 model-min="sliderConfig.userMin"
                 model-max="sliderConfig.userMax">
            </div>
        </div>
    </div>

    <br>

    <div ng-controller="UserTeamsCtrl">
        <div class="row">
            <div ng-repeat="team in teams" >
                <div class="col-lg-2">
                    <div class="input-group">
				<span class="input-group-addon">
					<input type="checkbox" checked="true" id="{{team.id}}" class="checkTeam">
				</span>
                        <input type="text" class="form-control" disabled="true" value="{{team.name}}"/>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-plus"> </span>
                    Adicionar Equipa
                </button>
            </div>
        </div>


        <br><br>

        <div ng-repeat="team in teams">
            <div class="panel panel-default" id="team{{team.id}}">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <img ng-src="/img/uploadteam/{{team.img}}" src="" onError="this.onerror=null;this.src='img/default/team.jpg';" style="height:100px;"/>
                        {{team.name}}

                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row" style="text-align: center;">

                        <div ng-repeat="player in players | filter: {name:searchPlayer} | rangeFilterAge:sliderConfig">
                            <div ng-if="team.id === player.team">
                                <a href="#/teamStats/player/{{player.player}}">
                                    <div class="col-xs-4 col-sm-4 col-md-2">
                                        <div class="thumbnail">
                                            <img ng-src="/img/uploadplayer/{{player.img}}" src="" onError="this.onerror=null;this.src='img/default/player.png';" style="height:155px;"/>
											<h3>{{player.name}}</h3>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <a href="">
                            <div class="col-xs-4 col-sm-4 col-md-2">
                                <div class="thumbnail">
                                    <img ng-src="img/default/add.png" style="height:80px;"/>
                                    <div class="caption">
                                        <h3>Adicionar Jogador</h3>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <br><br>
            </div>

        </div>

    </div>
</div>


<script type="text/javascript" src="js/players/players.js"></script>


