<link rel="stylesheet" type="text/css" media="screen" href="css/slider.css">
<script type="text/javascript" src="js/bootstrap-slider.js"></script>

<div class="panel-group" id="accordion">
    <div class="row">
        <div class="col-lg-5">
            <div class="input-group">
                <input type="text" class="form-control"/>
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" disabled="true">
							<span class="glyphicon glyphicon-search">
							</span>
                        </button>
					</span>
            </div>
        </div>
        <div class="col-lg-1">Idade: 0</div>
        <div class="col-lg-5">
            <input id="ex2" type="text" class="span2" value="" data-slider-min="0" data-slider-max="50" data-slider-step="1" data-slider-value="[0,100]"/>
        </div>
        <div class="col-lg-1">50</div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="input-group">
				<span class="input-group-addon">
					<input type="checkbox" checked="true">
				</span>
                <input type="text" class="form-control" disabled="true" value="Equipa 1"/>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
				<span class="input-group-addon">
					<input type="checkbox" checked="true">
				</span>
                <input type="text" class="form-control" disabled="true" value="Equipa 2"/>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="input-group">
				<span class="input-group-addon">
					<input type="checkbox" checked="true">
				</span>
                <input type="text" class="form-control" disabled="true" value="Equipa 3"/>
            </div>
        </div>
        <div class="col-lg-2 pull-right">
            <button class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-plus"> </span>
                Adicionar Equipa
            </button>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Equipa 1
            <button class="btn btn-primary pull-right" type="button">
                <span class="glyphicon glyphicon-plus"> </span>
                Adicionar Jogador
            </button>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Equipa 2
            <button class="btn btn-primary pull-right" type="button">
                <span class="glyphicon glyphicon-plus"> </span>
                Adicionar Jogador
            </button>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Equipa 3
            <button class="btn btn-primary pull-right" type="button">
                <span class="glyphicon glyphicon-plus"> </span>
                Adicionar Jogador
            </button>
        </h3>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-2">
                <div class="thumbnail">
                    <img src="img/default.png" alt="...">
                    <div class="caption">
                        <h3>Jogador</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    // With JQuery
    $("#ex2").slider({});

</script>