<div class="col-md-6 " ng-controller="myCtrl2">
	<img ng-src="/img/uploadlogin/{{login.img}}" class="img-circle" onError="this.onerror=null;this.src='img/default/player.png';" style="height:200px;"/>
    
	
	
</div>

<div class="col-md-6" ng-controller="ProfileController">
    <br>
    <div class="form-group" style="width:100%">
        <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Nome</button>
        <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">&nbsp;{{profile.firstname}} {{profile.lastname}}&nbsp;</button>
    </div>

    <br><br>

    <div class="form-group" style="width:100%">
        <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Email</button>
        <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">&nbsp;{{profile.email}}&nbsp;</button>
    </div>

    <br><br>

    <div class="btn-group pull-right">
		<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#alterarImg">Alterar imagem </button>
        <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal1">Alterar nome</button>  
		<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal2">Alterar email</button>
		<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal3">Alterar password</button>
    </div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header" id="modal-header1">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Mudar nome</h4>
		</div>
		<div class="modal-body">
			<form id="editProfile1"ng-submit="submit1()">
			<input type="text" class="form-control" ng-model="input1"  placeholder="Primeiro nome" />
			<br>

			<input type="text" class="form-control" ng-model="input2"  placeholder="Último nome" />
			<br>

			<input class="btn btn-primary" type="submit" id="submit1" value="Submeter" />
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		</div>
		</div>
	</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header" id="modal-header2">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Mudar email</h4>
		</div>
		<div class="modal-body">
			<form id="editProfile2"ng-submit="submit2()">
			<input type="email" class="form-control" ng-model="input3"  placeholder="email" />
			<br>

			<input class="btn btn-primary" type="submit" id="submit2" value="Submeter" />
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		</div>
		</div>
	</div>
	</div>
	
			<!-- MODAL DE MUDAR IMAGEM DO PERFIL-->
	<div class="modal fade" id="alterarImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header" id="modal-header1">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Mudar imagem</h4>
		</div>
		<div class="modal-body" ng-controller="myCtrl2">
		<form method='post' action='/login-image-upload' enctype="multipart/form-data">
		<input type='hidden' name ="profileid" value="{{login.id}}">
        <input type='file' class="form-control input-lg" file-model="myFile" name='fileUploaded' required>
		<br>
		<input class="btn btn-primary" type="submit"  ng-click="uploadFile()" value="Submeter" />		
		</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		</div>
		</div>
	</div>
	</div>
	
	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header" id="modal-header2">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Alterar password</h4>
		</div>
		<div class="modal-body" >
			<form id="editProfile3" ng-submit="changePassword()">
				<input type="password" class="form-control" ng-model="oldPW"  placeholder="Old Password" required/>
				<br>
				<input type="password" class="form-control" ng-model="newPW1"  placeholder="New Password" required/>
				<br>
				<input type="password" class="form-control" ng-model="newPW2"  placeholder="Confirm New Password" required/>
				<br>
				<input class="btn btn-primary" type="submit" id="submit3" value="Submeter" />
			</form>
			<div id="changePassword">
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		</div>
		</div>
	</div>
	</div>
	
</div>


<br><br>
<div class="col-xs-12" ng-controller= "UserTeamsCtrl">
<br>
<br>

<br><br>
<br><br>
<h3><strong><em>Equipas a Treinar</em></strong></h3>
<br>
	<div class="row">
		<div ng-repeat="team in teams" >
			<div class="col-lg-2 col-md-6">
				<div class="input-group">
					<a href="#/teamStats/my_team/{{team.id}}">
						<img ng-src="/img/uploadteam/{{team.img}}" id="{{team.id}}" src="" onError="this.onerror=null;this.src='img/default/team.jpg';" style="height:75px;">
						<h3> {{team.name}}</h3>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
		<br><br><br>

		</div>
	</div>
</div>

