<div class="page-header col-xs-offset-5">
    <h1>Planos de Treino</h1> <br><br><br>
</div>

<!--


        -->

<div class="col-md-2" ng-controller="AllWorkouts">
    <br>
    <table class="table table-hover table-responsive">
        <thead>
        <tr>
            <th>Planos já criados <input type="text" class="form-control" placeholder="Título" ng-model="titleSearch" autocomplete="off"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="w in workouts | filter : titleSearch" ng-if="$index < 10">
            <td><a href="">{{w.title}}  </a></td>
        </tr>
        </tbody>
    </table>
    <br><br><br><br>
</div>


<div class="col-md-10">

    <h3 class="text-align-center">Criar Plano</h3>

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="inputLocal" class="control-label col-xs-2">Título</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="inputLocal" placeholder="Título" autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label for="inputMaterial" class="control-label col-xs-2">Material Necessário</label>
                <div class="col-xs-9">
                    <textarea class="form-control" id="inputMaterial" rows="5" style="resize:none" autocomplete="off" placeholder="Material Necessário"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputObjectives" class="control-label col-xs-2">Objectivos</label>
                <div class="col-xs-9">
                    <textarea class="form-control" id="inputObjectives" rows="5" style="resize:none" autocomplete="off" placeholder="Objectivos"></textarea>
                </div>
            </div>
            <div class="form-group col-xs-11" style="padding-left: 19%">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th class="col-xs-4">Exercícios</th>
                        <th class="col-xs-2">Duração</th>
                        <th class="col-xs-3">Focos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><textarea class="form-control" name="inputExercise[]" rows="5" style="resize:none" autocomplete="off" placeholder="Exercício"></textarea></td>
                        <td><input type="text" class="form-control" name="inputDuration[]" placeholder="Duração" autocomplete="off"></td>
                        <td><textarea class="form-control" name="inputExercise[]" rows="5" style="resize:none" autocomplete="off" placeholder="Exercício"></textarea></td>
                    </tr>
                    <tr>
                        <td><textarea class="form-control" name="inputExercise[]" rows="5" style="resize:none" autocomplete="off" placeholder="Exercício"></textarea></td>
                        <td><input type="text" class="form-control" name="inputDuration[]" placeholder="Duração" autocomplete="off"></td>
                        <td><textarea class="form-control" name="inputExercise[]" rows="5" style="resize:none" autocomplete="off" placeholder="Exercício"></textarea></td>
                    </tr>
                    <tr>
                        <td><textarea class="form-control" name="inputExercise[]" rows="5" style="resize:none" autocomplete="off" placeholder="Exercício"></textarea></td>
                        <td><input type="text" class="form-control" name="inputDuration[]" placeholder="Duração" autocomplete="off"></td>
                        <td><textarea class="form-control" name="inputExercise[]" rows="5" style="resize:none" autocomplete="off" placeholder="Exercício"></textarea></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
    </form>
    <br><br><br><br>
</div>

