<div class="row">

    <a href="#/teamStats/my_team/001">
        <div class="col-sm-6 col-md-4">
            <h3 style="text-decoration: none;">Nome da Equipa</h3>
            <img class="img-responsive" ng-src="img/demo/team_default.jpg">
        </div>
    </a>

    <a href="#/teamStats/my_team/002">
        <div class="col-sm-6 col-md-4">
            <h3 style="text-decoration: none;">Nome da Equipa</h3>
            <img class="img-responsive" ng-src="img/demo/team_default.jpg">
        </div>
    </a>

    <a href="#teamStats//my_team/003">
        <div class="col-sm-6 col-md-4">
            <h3 style="text-decoration: none;">Nome da Equipa</h3>
            <img class="img-responsive" ng-src="img/demo/team_default.jpg">
        </div>
    </a>

    <a href="#/teamStats/my_team/004">
        <div class="col-sm-6 col-md-4">
            <h3 style="text-decoration: none;">Nome da Equipa</h3>
            <img class="img-responsive" ng-src="img/demo/team_default.jpg">
        </div>
    </a>


</div>