<!-- #HEADER -->
<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"> <img src="img/logo.png" alt="Team Stats"> </span>
        <!-- END LOGO PLACEHOLDER -->

    </div>

    <!-- #PROJECTS: projects dropdown -->
    <div class="project-context hidden-xs">

        <span class="label">Projects:</span>
        <span class="project-selector dropdown-toggle" data-toggle="dropdown">Recent projects <i class="fa fa-angle-down"></i></span>

        <!-- Suggestion: populate this list with fetch and push technique -->
        <ul class="dropdown-menu">
            <li>
                <a href="javascript:void(0);">Online e-merchant management system - attaching integration with the iOS</a>
            </li>
            <li>
                <a href="javascript:void(0);">Notes on pipeline upgradee</a>
            </li>
            <li>
                <a href="javascript:void(0);">Assesment Report for merchant account</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);"><i class="fa fa-power-off"></i> Clear</a>
            </li>
        </ul>
        <!-- end dropdown-menu-->

    </div>
    <!-- end projects dropdown -->

    <!-- #TOGGLE LAYOUT BUTTONS -->
    <!-- pulled right: nav area -->
    <div class="pull-right">

        <!-- collapse menu button -->
        <div id="hide-menu" class="btn-header pull-right">
            <span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
        </div>
        <!-- end collapse menu -->

        <!-- logout button -->
        <div id="logout" class="btn-header transparent pull-right">
            <span> <a href="#login/login" title="Sign Out" ><i class="fa fa-sign-out"></i></a> </span>
        </div>
        <!-- end logout button -->

        <!-- fullscreen button -->
        <div id="fullscreen" class="btn-header transparent pull-right">
            <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
        </div>
        <!-- end fullscreen button -->

        <!-- multiple lang dropdown : find all flags in the flags page -->
        <ul class="header-dropdown-list hidden-xs">
            <li>
                <a href="void(0);" class="dropdown-toggle" data-toggle="dropdown"> <img src="img/blank.gif" class="flag flag-us" alt="United States"> <span> US</span> <i class="fa fa-angle-down"></i> </a>
                <ul class="dropdown-menu pull-right">
                    <li class="active">
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-us" alt="United States"> English (US)</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-fr" alt="France"> Français</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-es" alt="Spanish"> Español</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-de" alt="German"> Deutsch</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-jp" alt="Japan"> 日本語</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-cn" alt="China"> 中文</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-it" alt="Italy"> Italiano</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-pt" alt="Portugal"> Portugal</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-ru" alt="Russia"> Русский язык</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="img/blank.gif" class="flag flag-kp" alt="Korea"> 한국어</a>
                    </li>

                </ul>
            </li>
        </ul>
        <!-- end multiple lang -->

    </div>
    <!-- end pulled right: nav area -->

</header>
<!-- END HEADER -->

<!-- #NAVIGATION -->
<!-- Left panel : Navigation area -->
<!-- Note: This width of the aside area can be adjusted through LESS variables -->
<aside id="left-panel">

<!-- User info -->
<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as is -->

					<a href="#teamStats/profile" >
                        <img ng-src="img/avatars/sunny.png" alt="me" class="online" />
						<span>
							TeamStats Profile
						</span>
                    </a>

				</span>
</div>
<!-- end user info -->

<!-- NAVIGATION : This navigation is also responsive

To make this navigation dynamic please make sure to link the node
(the reference to the nav > ul) after page load. Or the navigation
will not initialize.
-->
<nav>
<!--
NOTE: Notice the gaps after each icon usage <i></i>..
Please note that these links work a bit different than
traditional href="" links. See documentation for details.
-->

<ul>
<li class="">
    <a href="#/teamStats" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-inbox"></i> <span class="menu-item-parent">Inbox</span><span class="badge pull-right inbox-badge">14</span></a>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> <span class="menu-item-parent">Graphs</span></a>
    <ul>
        <li>
            <a href="ajax/flot.html">Flot Chart</a>
        </li>
        <li>
            <a href="ajax/morris.html">Morris Charts</a>
        </li>
        <li>
            <a href="ajax/inline-charts.html">Inline Charts</a>
        </li>
        <li>
            <a href="ajax/dygraphs.html">Dygraphs <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
        </li>
    </ul>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-table"></i> <span class="menu-item-parent">Tables</span></a>
    <ul>
        <li>
            <a href="ajax/table.html">Normal Tables</a>
        </li>
        <li>
            <a href="ajax/datatables.html">Data Tables <span class="badge inbox-badge bg-color-greenLight">v1.10</span></a>
        </li>
        <li>
            <a href="ajax/jqgrid.html">Jquery Grid</a>
        </li>
    </ul>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Forms</span></a>
    <ul>
        <li>
            <a href="ajax/form-elements.html">Smart Form Elements</a>
        </li>
        <li>
            <a href="ajax/form-templates.html">Smart Form Layouts</a>
        </li>
        <li>
            <a href="ajax/validation.html">Smart Form Validation</a>
        </li>
        <li>
            <a href="ajax/bootstrap-forms.html">Bootstrap Form Elements</a>
        </li>
        <li>
            <a href="ajax/plugins.html">Form Plugins</a>
        </li>
        <li>
            <a href="ajax/wizard.html">Wizards</a>
        </li>
        <li>
            <a href="ajax/other-editors.html">Bootstrap Editors</a>
        </li>
        <li>
            <a href="ajax/dropzone.html">Dropzone</a>
        </li>
        <li>
            <a href="ajax/image-editor.html">Image Cropping <span class="badge pull-right inbox-badge bg-color-yellow">new</span></a>
        </li>
    </ul>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">UI Elements</span></a>
    <ul>
        <li>
            <a href="ajax/general-elements.html">General Elements</a>
        </li>
        <li>
            <a href="ajax/buttons.html">Buttons</a>
        </li>
        <li>
            <a href="void(0);">Icons</a>
            <ul>
                <li>
                    <a href="ajax/fa.html"><i class="fa fa-plane"></i> Font Awesome</a>
                </li>
                <li>
                    <a href="ajax/glyph.html"><i class="glyphicon glyphicon-plane"></i> Glyph Icons</a>
                </li>
                <li>
                    <a href="ajax/flags.html"><i class="fa fa-flag"></i> Flags</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="ajax/grid.html">Grid</a>
        </li>
        <li>
            <a href="ajax/treeview.html">Tree View</a>
        </li>
        <li>
            <a href="ajax/nestable-list.html">Nestable Lists</a>
        </li>
        <li>
            <a href="ajax/jqui.html">JQuery UI</a>
        </li>
        <li>
            <a href="ajax/typography.html">Typography</a>
        </li>
        <li>
            <a href="void(0);">Six Level Menu</a>
            <ul>
                <li>
                    <a href="void(0);"><i class="fa fa-fw fa-folder-open"></i> Item #2</a>
                    <ul>
                        <li>
                            <a href="void(0);"><i class="fa fa-fw fa-folder-open"></i> Sub #2.1 </a>
                            <ul>
                                <li>
                                    <a href="void(0);"><i class="fa fa-fw fa-file-text"></i> Item #2.1.1</a>
                                </li>
                                <li>
                                    <a href="void(0);"><i class="fa fa-fw fa-plus"></i> Expand</a>
                                    <ul>
                                        <li>
                                            <a href="void(0);"><i class="fa fa-fw fa-file-text"></i> File</a>
                                        </li>
                                        <li>
                                            <a href="void(0);"><i class="fa fa-fw fa-trash-o"></i> Delete</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="void(0);"><i class="fa fa-fw fa-folder-open"></i> Item #3</a>

                    <ul>
                        <li>
                            <a href="void(0);"><i class="fa fa-fw fa-folder-open"></i> 3ed Level </a>
                            <ul>
                                <li>
                                    <a href="void(0);"><i class="fa fa-fw fa-file-text"></i> File</a>
                                </li>
                                <li>
                                    <a href="void(0);"><i class="fa fa-fw fa-file-text"></i> File</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>
            </ul>
        </li>
    </ul>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-calendar"><em>3</em></i> <span class="menu-item-parent">Calendar</span></a>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-list-alt"></i> <span class="menu-item-parent">Widgets</span></a>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-picture-o"></i> <span class="menu-item-parent">Gallery</span></a>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-map-marker"></i> <span class="menu-item-parent">GMap Skins</span><span class="badge bg-color-greenLight pull-right inbox-badge">9</span></a>
</li>
<li>
    <a href="#/menu"><i class="fa fa-lg fa-fw fa-windows"></i> <span class="menu-item-parent">Miscellaneous</span></a>
    <ul>
        <li>
            <a href="void(0);"><i class="fa fa-file"></i> Other Pages</a>
            <ul>
                <li>
                    <a href="ajax/forum.html">Forum Layout</a>
                </li>
                <li>
                    <a href="ajax/profile.html">Profile</a>
                </li>
                <li>
                    <a href="ajax/timeline.html">Timeline</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="ajax/pricing-table.html">Pricing Tables</a>
        </li>
        <li>
            <a href="ajax/invoice.html">Invoice</a>
        </li>
        <li>
            <a href="login.html" target="_top">Login</a>
        </li>
        <li>
            <a href="register.html" target="_top">Register</a>
        </li>
        <li>
            <a href="lock.html" target="_top">Locked Screen</a>
        </li>
        <li>
            <a href="ajax/error404.html">Error 404</a>
        </li>
        <li>
            <a href="ajax/error500.html">Error 500</a>
        </li>
        <li>
            <a href="ajax/blank_.html">Blank Page</a>
        </li>
        <li>
            <a href="ajax/email-template.html">Email Template</a>
        </li>
        <li>
            <a href="ajax/search.html">Search Page</a>
        </li>
        <li>
            <a href="ajax/ckeditor.html">CK Editor</a>
        </li>
    </ul>
</li>
</ul>
</nav>
<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

</aside>
<!-- END NAVIGATION -->

<!-- #MAIN PANEL -->
<div id="main" role="main">

    <!-- RIBBON -->
    <div id="ribbon">

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <!-- This is auto generated -->
        </ol>
        <!-- end breadcrumb -->

        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right" style="margin-right:25px">
            <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-grid"></i> Change Grid</span>
            <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> Add</span>
            <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa fa-search"></i> <span class="hidden-mobile">Search</span></span>
        </span> -->

    </div>
    <!-- END RIBBON -->

    <!-- #MAIN CONTENT -->
    <div id="content">

        <div ng-switch on="menu">

            <div ng-switch-default>


                <div class="panel-group" id="accordion">


                    <div class="panel panel-default" ng-repeat="player in players.message">
                        <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" data-target="#{{player.id_atleta}}">
                            <h4 class="panel-title">

                                <img ng-src="img/default.png" alt="Imagem não encontrada!" onError="this.onerror=null;this.src='img/default.png';" style="max-height:200px;">
                                {{player.id_atleta}}

                            </h4>
                        </div>
                        <div id="{{player.id_atleta}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="btn-group" style="width:100%">
                                    <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Nome</button>
                                    <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">Nome</button>
                                </div>
                                <br><br>
                                <div class="btn-group" style="width:100%">
                                    <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">BI/CC</button>
                                    <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">123456789</button>
                                </div>
                                <br><br>
                                <div class="btn-group" style="width:100%">
                                    <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Data de Nascimento</button>
                                    <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">16/1/2014</button>
                                </div>
                                <br><br>
                                <div class="btn-group" style="width:100%">
                                    <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Contacto</button>
                                    <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">*Insert number here*</button>
                                </div>
                                <br><br>
                                <div class="btn-group" style="width:100%">
                                    <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Email</button>
                                    <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">abc@gmail.com</button>
                                </div>
                                <br><br>
                                <div class="btn-group" style="width:100%">
                                    <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Morada</button>
                                    <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">Rua de Cima</button>
                                </div>
                                <br><br>
                                <div class="btn-group" style="width:100%">
                                    <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Condição</button>
                                    <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">Normal</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div ng-switch-when="profile">

                <div class="col-md-4 col-md-push-4">
                    <img ng-src="img/avatars/sunny-big.png" class="img-circle">
                    <h1>Team Stats</h1>
                </div>

                <div class="col-md-6 col-md-push-2">
                    <br>
                    <div class="form-group" style="width:100%">
                        <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Nome</button>
                        <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">&nbsp;Team Stats&nbsp;</button>
                    </div>

                    <br><br>

                    <div class="form-group" style="width:100%">
                        <button type="button" disabled class="btn btn-primary col-xs-12 col-sm-8 col-md-3">Email</button>
                        <button type="button" disabled class="btn btn-default col-xs-12 col-sm-8 col-md-9">&nbsp;teamStats@gmail.com&nbsp;</button>
                    </div>

                    <br><br>

                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-primary ">Alterar</button>
                    </div>

                </div>

                <div class="col-xs-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                    <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                    <hr>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Mussum ipsum cacilds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>


        </div>
    </div>

    <!-- END #MAIN CONTENT -->

</div>
<!-- END #MAIN PANEL -->

<!-- #PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">LDSO WebApp © 2014-2015</span>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- END FOOTER -->

<!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
     Note: These tiles are completely responsive, you can add as many as you like -->
<div id="shortcut">
    <ul>
        <li>
            <a href="#ajax/inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
        </li>
        <li>
            <a href="#ajax/calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
        </li>
        <li>
            <a href="#ajax/gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"> <span class="iconbox"> <i class="fa fa-map-marker fa-4x"></i> <span>Maps</span> </span> </a>
        </li>
        <li>
            <a href="#ajax/invoice.html" class="jarvismetro-tile big-cubes bg-color-blueDark"> <span class="iconbox"> <i class="fa fa-book fa-4x"></i> <span>Invoice <span class="label pull-right bg-color-darken">99</span></span> </span> </a>
        </li>
        <li>
            <a href="#ajax/gallery.html" class="jarvismetro-tile big-cubes bg-color-greenLight"> <span class="iconbox"> <i class="fa fa-picture-o fa-4x"></i> <span>Gallery </span> </span> </a>
        </li>
        <li>
            <a href="#ajax/profile.html" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>
        </li>
    </ul>
</div>
<!-- END SHORTCUT AREA -->